@font-face {
    font-family: "Rubik";
    src: 
        url("/assets/fonts/rubik/Rubik-Light.ttf") format("truetype"),
        url("/assets/fonts/rubik/Rubik-Regular.ttf") format("truetype"),
        url("/assets/fonts/rubik/Rubik-Medium.ttf") format("truetype"),
        url("/assets/fonts/rubik/Rubik-SemiBold.ttf") format("truetype"),
        url("/assets/fonts/rubik/Rubik-Bold.ttf") format("truetype");
}

.font-rubik {
    font-family: "Rubik", sans-serif;
}