{{define "title"}}Home{{end}}

{{define "content"}}
<div class="flex flex-col gap-16 w-full h-full items-center">
    <div class="flex flex-col gap-4 items-center pt-8">
        <span class="text-3xl">Dashboard ({{.Username}})</span>
        <div id="account-icons-row" hx-get="/api/account/views/icons-row" hx-trigger="load once"></div>
    </div>
    
    <form hx-post="/api/urls" hx-target="#error" class="flex flex-col gap-4 w-full px-4 md:w-[80%] lg:w-[65%] xl:w-1/2">
        <div id="error" class="w-full"></div>
        {{template "url-input" .}}
    </form>
    <div hx-get="/api/urls" hx-trigger="load once, submit from:form delay:50ms" class="w-full 2xl:w-[90%] overflow-x-auto"></div>
</div>
{{end}}