{{define "title"}}Log in{{end}}

{{define "content"}}
<div class="flex items-center justify-center h-screen w-screen p-4">
    <form
        hx-post="/api/auth/login"
        hx-target="#error"
        hx-swap="innerHTML"
        class="flex flex-col gap-8 items-center w-full md:w-[75%] lg:w-1/3 xl:w-1/4"
    >
        <span id="error" class="text-red-500"></span>
        {{template "input" .UsernameInputData}}  
        {{template "input" .PasswordInputData}}
        {{template "button" .ButtonData}}
    </form>
</div>
{{end}}