{{define "title"}}Log in{{end}}

{{define "content"}}
<div class="flex flex-col gap-6 items-center justify-center h-screen w-screen p-4">
    <h1 class="text-3xl">Welcome back</h1>
    <form hx-post="/api/auth/login" hx-target="#error" class="flex flex-col gap-8 items-center w-full min-[400px]:w-[75%] min-[550px]:w-[60%] min-[700px]:w-[45%] min-[850px]:w-[350px]">
        <!-- TODO: Create error component -->
        <span id="error" class="text-red-500"></span>
        {{template "input" .UsernameInputData}}  
        {{template "input" .PasswordInputData}}
        {{template "button" .ButtonData}}
    </form>
    <span class="text-gray-400">
        Do not have an account yet?
        <a href="/signup" class="text-blue-500"><b>Sign up</b></a>
    </span>
</div>
{{end}}