{{define "title"}}Sign up{{end}}

{{define "content"}}
<div class="flex flex-col gap-6 items-center justify-center h-screen w-screen p-4">
    <h1 class="text-3xl">Create new account</h1>
    <form hx-post="/api/auth/signup" hx-target="#error" class="flex flex-col gap-8 items-center w-full min-[400px]:w-[75%] min-[550px]:w-[60%] min-[700px]:w-[45%] min-[850px]:w-[350px]">
        <div id="error" class="w-full"></div>
        {{template "input" .UsernameInputData}}  
        {{template "input" .PasswordInputData}}
        {{template "button" .ButtonData}}
    </form>
    <div class="flex flex-row gap-3 items-center">
        <span class="text-gray-600">Already have an account?</span>
        <a href="/login" class="text-blue-500"><b>Log in</b></a>
    </div>
</div>
{{end}}