<!DOCTYPE html>
<html lang="en">
<head>
  	<meta http-equiv="Content-Type" content="text/html charset=UTF-8" />
</head>
<body>
    <table style="text-align: center; width: 100%;">
        <tbody>
            <tr><td>
                <h1 style="overflow: hidden; text-overflow: ellipsis; white-space: nowrap;">Hello, {{.Username}}</h1>
            </td></tr>
            <tr><td>
                <span>Please click the button below to verify your account</span>
            </td></tr>
            <tr><td>
                <div style="padding-top: 0.75rem; padding-bottom: 0.75rem;">
                    <a href="{{.Link}}" target="_blank" style="text-decoration: none; padding: 0.75rem; background-color: cornflowerblue;">
                        <b style="color: white; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;">Verify</b>
                    </a> 
                </div>
            </td></tr>
        </tbody>
    </table>
</body>
</html>
