<div class="flex flex-row gap-6">
    <div hx-get="/api/account/views/username-dialog" hx-target="#account-icons-row">
        {{template "icon-button" .ChangeUsernameIconButtonData}}
    </div>
    <div hx-get="/api/account/views/password-dialog" hx-target="closest body" hx-swap="afterbegin">
        {{template "icon-button" .ChangePasswordIconButtonData}}
    </div>
    <div hx-get="/api/account/views/delete-dialog" hx-target="#account-icons-row">
        {{template "icon-button" .DeleteAccountIconButtonData}}
    </div>
</div>