<table class="table-auto w-full divide-y overflow-y-clip" onload="formatDates()">
    <thead class="bg-gray-200">
        <tr>
            <th hx-get='/api/urls?sortBy=origin{{if eq .SortedBy "origin"}}&reversed={{.Reversed}}{{end}}' hx-target="closest table" hx-trigger="click" hx-swap="outerHTML" class="text-start text-sm px-4 py-3 text-gray-500 whitespace-nowrap cursor-pointer">
                <div class="flex flex-row gap-2">
                    Origin
                    {{if eq .SortedBy "origin"}}
                        <img src="/assets/images/ic-arrow-{{if .Reversed}}down{{else}}up{{end}}.svg" class="w-5 h-5"> <!-- TODO: Improve responsiveness for images -->
                    {{end}}
                </div>
            </th>
            <th hx-get='/api/urls?sortBy=hash{{if eq .SortedBy "hash"}}&reversed={{.Reversed}}{{end}}' hx-target="closest table" hx-trigger="click" hx-swap="outerHTML" class="text-start text-sm px-4 py-3 text-gray-500 whitespace-nowrap cursor-pointer">
                <div class="flex flex-row gap-2">
                    Link
                    {{if eq .SortedBy "hash"}}
                        <img src="/assets/images/ic-arrow-{{if .Reversed}}down{{else}}up{{end}}.svg" class="w-5 h-5">
                    {{end}}
                </div>
            </th>
            <th hx-get='/api/urls?sortBy=expires_at{{if eq .SortedBy "expires_at"}}&reversed={{.Reversed}}{{end}}' hx-target="closest table" hx-trigger="click" hx-swap="outerHTML" class="text-start text-sm px-4 py-3 text-gray-500 whitespace-nowrap cursor-pointer">
                <div class="flex flex-row gap-2">
                    Expires in
                    {{if eq .SortedBy "expires_at"}}
                        <img src="/assets/images/ic-arrow-{{if .Reversed}}down{{else}}up{{end}}.svg" class="w-5 h-5">
                    {{end}}
                </div>
            </th>
            <th hx-get='/api/urls?sortBy=last_used_at{{if eq .SortedBy "last_used_at"}}&reversed={{.Reversed}}{{end}}' hx-target="closest table" hx-trigger="click" hx-swap="outerHTML" class="text-start text-sm px-4 py-3 text-gray-500 whitespace-nowrap cursor-pointer">
                <div class="flex flex-row gap-2">
                    Last used at
                    {{if eq .SortedBy "last_used_at"}}
                        <img src="/assets/images/ic-arrow-{{if .Reversed}}down{{else}}up{{end}}.svg" class="w-5 h-5">
                    {{end}}
                </div>
            </th>
            <th hx-get='/api/urls?sortBy=created_at{{if eq .SortedBy "created_at"}}&reversed={{.Reversed}}{{end}}' hx-target="closest table" hx-trigger="click" hx-swap="outerHTML" class="text-start text-sm px-4 py-3 text-gray-500 whitespace-nowrap cursor-pointer">
                <div class="flex flex-row gap-2">
                    Created at
                    {{if eq .SortedBy "created_at"}}
                        <img src="/assets/images/ic-arrow-{{if .Reversed}}down{{else}}up{{end}}.svg" class="w-5 h-5">
                    {{end}}
                </div>
            </th>
            <th class="text-start text-sm px-4 py-3 text-gray-500">Action</th>
        </tr>
    </thead>
    <tbody class="divide-y">
        {{range .Urls}}
            <tr class="hover:bg-gray-200">
                <td class="align-top px-4 py-3 text-black min-w-[450px] break-all"> 
                    <div class="flex flex-row gap-2 items-center">
                        <a href="{{.Origin}}" target="_blank">
                            {{formatLink .Origin}}
                        </a>
                        <button hx-get="/api/urls/views/origin-dialog" hx-vals='{"origin": "{{.Origin}}", "username": "{{.Username}}", "hash": "{{.Hash}}"}' hx-target="closest body" hx-swap="afterbegin" class="w-6 h-6">
                            <img src="/assets/images/ic-edit.svg" alt="Edit origin" class="rounded-md bg-gray-200 hover:bg-gray-200"> <!-- TODO: Improve responsiveness for images -->
                        </button>
                    </div>
                </td>
                <td class="align-top px-4 py-3 text-black whitespace-nowrap">
                    <div class="flex flex-row gap-2 items-center">
                        <a id="{{.Hash}}" href="http://localhost:3000/{{.Username}}/{{.Hash}}" target="_blank">
                            localhost:3000/{{.Username}}/{{.Hash}}
                        </a>
                        <button onclick="copy('{{.Hash}}')" class="w-6 h-6">
                            <img src="/assets/images/ic-copy.svg" alt="Copy to clipboard" class="rounded-md bg-gray-200 hover:bg-gray-200"> <!-- TODO: Improve responsiveness for images -->
                        </button>
                    </div>
                </td>
                <!-- TODO: Check the direction of sorting -->
                <td class="align-top px-4 py-3 min-w-[80px] text-black whitespace-nowrap">
                    <div id="sse-{{.Hash}}" hx-ext="sse" sse-connect="/api/urls/{{.Username}}/{{.Hash}}/listen">
                        <div sse-swap="url_update">
                            -
                        </div>
                        <div sse-swap="url_expired" hx-target="#sse-{{.Hash}}" hx-swap="outerHTML"></div>
                    </div>
                </td>
                <td class="align-top px-4 py-3 text-black whitespace-nowrap">
                    {{formatDateWithTime .LastUsedAt}}
                </td>
                <td class="align-top px-4 py-3 text-black whitespace-nowrap">
                    {{formatDate .CreatedAt}}
                </td> 
                <td class="align-top px-4 py-3 text-blue-500 whitespace-nowrap">
                    <button hx-delete="/api/urls/{{.Username}}/{{.Hash}}" hx-target="closest tr" hx-swap="outerHTML">
                        <b>Delete</b>
                    </button>
                </td>
            </tr>
        {{end}}
    </tbody>
</table>

<script>
    function copy(id) {
        var anchor = document.getElementById(id);
        navigator.clipboard.writeText(anchor.href);
    }
</script>

<style>
    ::-webkit-scrollbar {
        height: 10px;
    }

    ::-webkit-scrollbar-track {
        background: #f1f1f1; 
    }
    
    ::-webkit-scrollbar-thumb {
        background: #bbbbbb; 
    }

    ::-webkit-scrollbar-thumb:hover {
        background: #999999; 
    }
</style>