<table class="table-fixed w-full break-words divide-y">
    <thead class="bg-gray-100">
        <tr>
            <th class="text-start text-sm px-4 py-3 w-[65%] text-gray-500">Origin</th>
            <th class="text-start text-sm px-4 py-3 w-[25%] text-gray-500">Link</th>
            <th class="text-start text-sm px-4 py-3 w-[10%] text-gray-500">Action</th>
        </tr>
    </thead>
    <tbody class="divide-y">
        {{range .Urls}}
            <tr class="hover:bg-gray-100">
                <td class="align-top px-4 py-3 w-[65%] text-black">
                    <a href="{{.Origin}}" target="_blank">
                        {{trimProtocol .Origin}}
                    </a>
                </td>
                <td class="align-top px-4 py-3 w-[25%] text-black">
                    <!-- ISSUE: Responsiveness is broken -->
                    <div class="flex items-center flex-wrap">
                        <a id="{{.Hash}}" href="http://localhost:3000/{{.Username}}/{{.Hash}}" target="_blank">
                            localhost:3000/{{.Username}}/{{.Hash}}
                        </a>
                        <button onclick="copy('{{.Hash}}')">
                            <img src="/assets/images/ic_copy.svg" alt="Copy to clipboard" class="w-6 h-6 rounded-md bg-gray-100 hover:bg-gray-200">
                        </button>
                    </div>
                </td>
                <td class="align-top px-4 py-3 w-[10%] text-blue-500">
                    <a href="#"><b>Delete</b></a>
                </td>
            </tr>
        {{end}}
    </tbody>
</table>

<script>
    function copy(id) {
        var anchor = document.getElementById(id);
        navigator.clipboard.writeText(anchor.href);
    }
</script>