<table class="table-auto w-full divide-y overflow-y-clip" onload="formatDates()">
    <thead class="bg-gray-100">
        <tr>
            <th hx-get="/api/urls?sortBy=origin" hx-target="closest table" hx-trigger="click" hx-swap="outerHTML" class="text-start text-sm px-4 py-3 text-gray-500">Origin</th>
            <th hx-get="/api/urls?sortBy=hash" hx-target="closest table" hx-trigger="click" hx-swap="outerHTML" class="text-start text-sm px-4 py-3 text-gray-500">Link</th>
            <th hx-get="/api/urls?sortBy=created_at" hx-target="closest table" hx-trigger="click" hx-swap="outerHTML" class="text-start text-sm px-4 py-3 text-gray-500">Created at</th>
            <th class="text-start text-sm px-4 py-3 text-gray-500">Action</th>
        </tr>
    </thead>
    <tbody class="divide-y">
        {{range .Urls}}
            <tr class="hover:bg-gray-100">
                <td class="align-top px-4 py-3 text-black min-w-[450px]">
                    <a href="{{.Origin}}" target="_blank" class="break-all">
                        {{formatLink .Origin}}
                    </a>
                </td>
                <td class="align-top px-4 py-3 text-black">
                    <div class="flex flex-row gap-2 items-center">
                        <a id="{{.Hash}}" href="http://localhost:3000/{{.Username}}/{{.Hash}}" target="_blank" class="truncate">
                            localhost:3000/{{.Username}}/{{.Hash}}
                        </a>
                        <button onclick="copy('{{.Hash}}')" class="w-6 h-6">
                            <img src="/assets/images/ic_copy.svg" alt="Copy to clipboard" class="rounded-md bg-gray-100 hover:bg-gray-200">
                        </button>
                    </div>
                </td>
                <td class="align-top px-4 py-3 text-black whitespace-nowrap">
                    {{formatDate .CreatedAt}}
                </td>
                <td class="align-top px-4 py-3 text-blue-500">
                    <button hx-delete="/api/urls/{{.Username}}/{{.Hash}}" hx-target="closest tr" hx-swap="outerHTML">
                        <b>Delete</b>
                    </button>
                </td>
            </tr>
        {{end}}
    </tbody>
</table>

<script>
    function copy(id) {
        var anchor = document.getElementById(id);
        navigator.clipboard.writeText(anchor.href);
    }
</script>

<style>
    ::-webkit-scrollbar {
        height: 10px;
    }

    ::-webkit-scrollbar-track {
        background: #f1f1f1; 
    }
    
    ::-webkit-scrollbar-thumb {
        background: #bbbbbb; 
    }

    ::-webkit-scrollbar-thumb:hover {
        background: #999999; 
    }
</style>